<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Login Page</title>
</head>
<body>
    <div>
        <a href="/register"><input type="submit" id="register" value="Register"></a>
    </div>
    <div class="loginbody">
        <div id="logo">
            <img src="assets/cantinalogo1.png" alt="cantina logo" id="logoimg">
        </div>
        <div class="loginformbody">
            <div class="forms"><h2>LOG-IN</h2>
                <form action="/userlogin" method="post"><div class="forms">
                    <% { %>
                    Username: <input type="text" name="username" /><br>
                    Password: <input type="password" name="password" /><br>
                    <input type="submit" class="formsubmit">
                    <% } %>
                </div></form>
            </div>
            <div class="help" id="loginhelp">
                <a href="/tutorial"><input type="submit" value="Help"></a>
            </div>
        </div>
    </div>
</body>
</html>