<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Results</title>
</head>
<body>
    <div class="username">
        <p><b><%= inv.username %></b>'s Cantina</p>
    </div>

    <div class="credits">
        <p>You earned <%= inv.credits %> credits!</p>
    </div>

    <div class="leaderboard">
        <div id="globalleaderboard">
            <h3>Global Leaderboard</h3>
            <p><b>1st</b>: </p>
            <p><b>2nd</b>: </p>
            <p><b>3rd</b>: </p>
            <p><b>4th</b>: </p>
            <p><b>5th</b>: </p>
        </div>

        <div id="personalrecords">
            <h3>Personal Records</h3>
            <p><b>1st</b>: </p>
            <p><b>2nd</b>: </p>
            <p><b>3rd</b>: </p>
            <p><b>4th</b>: </p>
            <p><b>5th</b>: </p>
        </div>
    </div>

    <div class="logout">
        <form action="/logout" method="get"><input type="submit" value="Log Out"></form>
    </div>

    <div class="reset">
        <form action="/reset" method="post"><input type="submit" value="Reset Game"></form>
    </div>

    <div class="help">
        <a href="/tutorial"><input type="submit" value="Help"></a>
    </div>
    </div>
</body>
</html>