@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  background-color: black;
  color: green;
  font-family: "Press Start 2P", cursive;
  height: 100%;
  overflow: hidden;
}

input {
  background-color: rgb(32, 52, 52);
  color: green;
  font-family: "Press Start 2P", cursive;
  padding: 12px;
  border: none;
}

input {
  background-color: rgb(32, 52, 52);
  color: green;
  font-family: "Press Start 2P", cursive;
  padding: 12px;
  border: none;
}

.day {
  position: absolute;
  left: 5%;
  bottom: 5%;
}

.forms {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

.loginbody {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.formsubmit {
  width: 100px;
  position: absolute;
  bottom: 43%;
}

.inventory {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inventory p {
  margin: 3px;
  border: 3px;
}

.popularity {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.subinv {
  padding: 5px;
}

.username {
  position: absolute;
  top: 5%;
  left: 5%;
}

.credits {
  position: absolute;
  left: 40%;
  top: 5%;
}

.leaderboard {
  position: absolute;
  top: 25%;
  left: 40%;
}

.weather {
  position: absolute;
  top: 5%;
  right: 5%;
}

#register {
  position: absolute;
  right: 5%;
  top: 5%;
}

#registersubmit {
  position: absolute;
  top: 35%;
}

#shopinv {
  display: flex;
  flex-direction: space-between;
}

.help {
  position: absolute;
  bottom: 5%;
  left: 40%;
}

#loginhelp {
  left: 47.5%;
}

.logout {
  position: absolute;
  top: 10%;
  left: 9%;
}

.reset {
  position: absolute;
  bottom: 5%;
  right: 40%;
}

.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#storefront {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.ingredient {
  display: flex;
  justify-content: space-evenly;
}

#readytobrew {
  position: absolute;
  right: 37.5%;
  bottom: 25%;
  width: 25%;
  height: 10%;
}

#return {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* ----------------------------------------------------------------------------------------------------- */
/* brew.ejs only */

#everythingdrinks {
  display: flex;
  justify-content: space-around;
}

#bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

#office {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drink {
  margin: 3px;
}

#shelves {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  width: 100%;
}

#brewery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

#thebrews {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  width: 100%;
}

.brewdrinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#office {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}
/* ----------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 700px) {
  #logoimg {
    width: 400px;
  }

  #register {
    padding: 5px;
  }
}

.status {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 35%;
  left: 45%;
  background: green;
  color: black;
  border-radius: 30%;
  width: 9%;
}

.updatinginfo {
  display: flex;
  background: green;
  color: black;
  border-radius: 30%;
  width: 200px;
  justify-content: center;
}

.sim-info-sub {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.sim-info {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 40%;
  left: 15%;
  width: 70%;
}

.credits {
  justify-content: center;
}

#returntoshop {
  position: absolute;
  left: 42%;
  bottom: 20%;
}